
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bold {
    font-weight: bold;
    font-size: larger;
    margin: 2px;
}
.navbar {
    background-color: cadetblue;
    padding:5px;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}

.no_margin {
    margin: 0px;
}
.btn {
    padding: 0px;
    border-width: 0px;
    margin: 4px;
    width: 182px;
    height: 268px;
    cursor: pointer;
}
#best_movie_section {
    margin:0px 30px;
}
#button_best_movie {
    margin:auto;
    min-width: 320px;
}
#div_best_movie {
    display: flex;
    background-color: lightgray;
    padding: 10px;
    width: 300px;
}
#best_movie_title {
    align-items: center;
}
#img_modal {
    object-fit: scale-down;
    margin-right: 10px;
}
#modal_close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}
#modal_wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal_background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}
#modal {
    border-radius: 10px;
    background: #fff;
    position: relative;
    display: flex;
    padding: 30px 10px;
    margin: 10%;
}